html{
    font-size: 62.5%;
}
.stretch{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
}
.imgtext1{
    font-size: 3vw;
    font-weight: 700;
    
    
}
.imgtext2{
    font-size: 2vw;
    font-weight: 400;
    /* margin-left: 20rem; */
}
.imgalign{
    margin-left: 20rem;
    margin-bottom: 10.7rem;
    bottom: 0;
}
@media only screen and (max-width:628px) {
    html{
        font-size: 27%;
    }
}
