  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

html{
    font-size: 62.5%;
    overflow-x: hidden;
    
}
body{
    font-family: 'Monomaniac One', sans-serif;
}

.stretch{
    background-size:cover;

    background-repeat: no-repeat;
    width: 100%;
    background-position: center;

}
.imgtext1{
    font-size: 3.6rem;
    font-weight: 700;
    
    
}
.imgtext2{
    font-size: 1.8rem;
    font-weight: 400;
    /* margin-left: 20rem; */
}
.imgalign{
    margin-left: 20rem;
    margin-bottom: 10.7rem;
    bottom: 0;
}
.tabs{
    font-weight: 400;
    font-size: 1.6rem;
    color: #8A8A8A;
}

@media only screen and (max-width:1500px) {
    html{
        font-size: 62.5%;
    }
}
@media only screen and (max-width:1400px) {
    html{
        font-size: 59.5%;
    }
}
@media only screen and (max-width:1300px) {
    html{
        font-size: 57.5%;
    }
}
@media only screen and (max-width:1200px) {
    html{
        font-size: 54.5%;
    }
}
@media only screen and (max-width:1000px) {
    html{
        font-size: 33.5%;
    }
}
@media only screen and (max-width:900px) {
    html{
        font-size: 35.5%;
    }
}
@media only screen and (max-width:800px) {
    html{
        font-size: 26.5%;
    }
}

@media only screen and (max-width:600px) {
    html{
        font-size: 29.5%;
    }
}
@media only screen and (max-width:575px) {
    
}
@media only screen and (max-width:500px) {
    html{
        font-size: 26.5%;
    }

}

@media only screen and (max-width:400px) {
    html{
        font-size: 22.5%;
    }
}
@media only screen and (max-width:300px) {
    html{
        font-size: 20.5%;
    }
}

@media only screen and (max-width:200px) {
    html{
        font-size: 15.5%;
    }
}