html{
    font-size: 62.5%;
}
.stretch{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
}
.imgtext1{
    font-size: 3vw;
    font-weight: 700;
    
    
}
.imgtext2{
    font-size: 2vw;
    font-weight: 400;
    /* margin-left: 20rem; */
}
.imgalign{
    margin-left: 20rem;
    margin-bottom: 10.7rem;
    bottom: 0;
}
.tabs{
    font-weight: 400;
    font-size: 1.6rem;
    color: #8A8A8A;
}

@media only screen and (max-width:1500px) {
    html{
        font-size: 62.5%;
    }
}
@media only screen and (max-width:1400px) {
    html{
        font-size: 59.5%;
    }
}
@media only screen and (max-width:1300px) {
    html{
        font-size: 57.5%;
    }
}
@media only screen and (max-width:1200px) {
    html{
        font-size: 54.5%;
    }
}
@media only screen and (max-width:1000px) {
    html{
        font-size: 41.5%;
    }
}
@media only screen and (max-width:900px) {
    html{
        font-size: 38.5%;
    }
}
@media only screen and (max-width:800px) {
    html{
        font-size: 36.5%;
    }
}
@media only screen and (max-width:700px) {
    html{
        font-size: 34.5%;
    }
}
@media only screen and (max-width:600px) {
    html{
        font-size: 29.5%;
    }
}
@media only screen and (max-width:500px) {
    html{
        font-size: 27.5%;
    }
}